<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student progress</title>
</head>
<body>
<div th:switch="${students}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>All students</h2>
        <table>
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Группа</th>
                <th>Дата рождения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">

                <td th:text="${student.lastname}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.studyGroup}"></td>
                <td th:text="${#dates.format(student.date, 'dd-MMM-yyyy')}"></td>
                <td>
                    <button><a th:href="@{student-update/{id}(id=${student.id})}">Update</a></button>
                </td>
                <td>
                    <button><a th:href="@{student-delete/{id}(id=${student.id})}">Delete</a></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>

    <button><a href="/student-create">Create student</a></button>
    <br>
    <br>
    <button><a href="/group">Groups</a></button>
    <br>
    <br>
    <button><a href="/terms">Terms</a></button>
    <br>
    <br>
    <button><a href="/disciplines">Disciplines</a></button>
    <br>
    <br>
    <form th:action="@{/group}">
        <button alt="Push">Groups</button>
    </form>
</div>
</body>
</html>